@{
    ViewBag.Title = "Home Page";
}
<div>
    <img src="home.png" style="width: 100%; padding:3%;" />
</div>
<div class="jumbotron">
    <h1>ToDo</h1>
    <p class="lead">ToDo is a free application to manage your projects.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can create a project and a team and asign tasks. Try it now!
        </p>
    </div>
</div>
