<div class="panel panel-default">
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        Descriere activitate: <strong>@Model.Description</strong>
        <br />
        Start Date: <p>@Model.StartDate</p>
        <br />
        Start Date: <p>@Model.EndDate</p>
        <br />
    </div>
    <div class="panel-footer">
        <a class="btn btn-sm btn-success" href="/Activity/Show/@Model.Id">Afisare activitate</a>
    </div>
</div>
<br />
