<div class="panel panel-default">
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        Descriere activitate: <strong>@Model.Description</strong>
        <br/>
        Start date: <strong>@Model.StartDate</strong>
        <br/>
        End date: <strong>@Model.EndDate</strong>
        <br />
    </div>
</div>
<br />
